body {
  background-color: #585858;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.login {
  width: 400px;
  height: 500px;
  background-color: #585858;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  border: 1px solid white;
}

.logo {
  width: 400px;
  height: 180px;
}

.check {
  margin-left: 10px;
}
.form {
  color: white;
}
.pilsu {
  color: #03c75a;
  margin-right: 3px;
}

.form {
  text-align: left;
}

.text {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 6px;
  margin: 4px 10px;
  font-size: 80%;
}

label {
  font-weight: bold;
}

.button {
  width: 350px;
  height: 45px;
  background-color: #03c75a;
  border-radius: 5px;
  border: 1px solid #03c75a;
  margin: 40px auto;
  color: white;
}

.yakgwan {
  margin-top: 8px;
}
