body {
  background-color: #585858;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

#login {
  width: 400px;
  height: 600px;
  background-color: white;
  position: fixed; /* 화면 중앙 고정을 위해 fixed로 변경 */
  top: 55%; /* 화면의 세로 중앙 */
  left: 50%; /* 화면의 가로 중앙 */
  transform: translate(-50%, -50%); /* 가운데 정렬을 위한 transform 설정 */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  z-index: 1000; /* 레이어를 최상위로 설정 */
  overflow: hidden;
}

/* 전체 화면에 겹쳐서 표시될 배경 */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* 기본적으로 숨김 처리 */
  z-index: 500; /* 로그인 모달 뒤에 표시되도록 설정 */
}

.logo {
  width: 400px;
  height: 150px;
}

hr {
  color: #585858;
}

input {
  width: 100%;
  border: none;
}

.button1 {
  width: 180px;
  height: 35px;
  background-color: #03c75a;
  border-radius: 5px;
  border: 1px solid #03c75a;
  color: white;
}

#button2 {
  width: 100px;
  height: 35px;
  background-color: #f51d1d;
  border-radius: 5px;
  border: 1px solid #f51d1d;
  margin: 10px 5px 20px 5px;
  color: white;
}

#join {
  text-align: right;
  display: flex;
  flex-direction: column;
  color: white;
}

h6 {
  margin-right: 40px;
}

#join_hr {
  width: 100vw;
}

.text {
  border: 2px solid #e1e1e1;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.tt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#warning {
  color: red;
  font-size: 13px;
  text-align: left;
  display: none;
  width: 300px;
  height: 100px;
  margin: 30px auto;
  overflow-y: auto;
  max-height: 50px;
}

#warning span {
  display: inline-block;
}
